html, body {
  height: 100%;
}
body {
  /*background: #27282b url(../../../movies/assets/images/bg-noise-pattern.png);*/
  /*background: #1e1e20 none;*/
  background: #1d1d1d;
  color: #efefef;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section {
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
td, tr {
  padding: 0;
}
.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: 0;
}
.page-header .navbar-nav{ float: right;}
.page-header>div>div, .page-header>div>ul {
  display:inline-block;
}
.text-edit{
  padding: 13px 0 0 0;
}
.account {
  text-align:right;
}
.account>div , .account>ul {
  text-align:left;
}
.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}
.content, .container {
    width:100%;
    padding: 0;
}
footer {
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

*::-webkit-input-placeholder {
    color: #ccc;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #ccc;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #ccc;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #ccc;
}
.col-md-6 {
  padding: 0;
}
.row {
  margin: 0;
}
