/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.main-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('../images/background5.png');
}

table.main-wrapper > tbody {
  display: table;
  width: 100%;
  height: 100%;
}

.movies-wrapper {
  height: 100%;
  padding-top: 15px;
  padding-left: 15px;
  overflow-y: auto;
  text-align: center;
}

.movies-wrapper h3 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: lighter;
}

.movies-wrapper .row:first-child > div > .movie-group:first-child > h3 {
  margin-left: 40px;
}

.movies-wrapper .movie-group-wrapper {
  /*margin-top: 40px;*/
   text-align: left; 
}

.movies-wrapper .movie-group {
  padding: 10px;
/*
  padding-right: 10px;
  padding-left: 10px;
*/
}

.movies-wrapper .movie {
  margin-left: 0;
  margin-right: 0;
}

.right-wrapper {
  width: 300px;
  background: rgba(34,34,34,0.75) url(../../../movies/assets/images/bg-noise-pattern.png);
}

.left-wrapper {
  width: 45px;
}

.side-menu {
  height: 100%;
  overflow-y: auto;
  background: rgba(34,34,34,0.75) url(../../../movies/assets/images/bg-noise-pattern.png);
}

.right-side-bar {
  height: 100%;
  overflow-y: auto;
  /*background: #222222 url(../../../movies/assets/images/bg-noise-pattern.png);*/
}

.right-side-bar-content {
  padding: 0px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}

.right-side-bar::before {
  content: " ";
  display: block;
  height: 100%;
  width: 2px;
  position: absolute;
  background: url('../images/bg-border-left.png') left repeat-y;
}

.side-menu::after {
  content: " ";
  display: block;
  height: 100%;
  width: 2px;
  float: right;
  background: url('../images/bg-border-left.png') left repeat-y;
}

.side-menu .items {
  float: left;
  padding-top: 80px;
  width: 43px;
  text-align: center;
}

.side-menu .items > .menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  cursor: pointer;
  text-shadow: 0 0 1px #000;
  color: #999;
  border-right: 2px solid transparent;

  -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.3s ease-out;
}

.side-menu .items > .menu-item:hover {
  color: #fff;
  /*border-right-color: rgba(255,255,255,0.2);*/
}

.movies {
  padding: 15px;
  padding-top: 30px;
  display: inline-block;
  text-align: center;
}

.movie {
    max-width: 250px;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 2px;
    margin-left: 2px;
    cursor:pointer;
}

.search-results .movie {
	margin-right: 9px;
	margin-left: 9px;
}

.right-side-bar h5 {
  margin-bottom: 20px;
  margin-top: 30px;
  color: #d5d5d5;
}

.right-side-bar .movie {
  max-width: 120px;
}

.right-side-bar .movie .poster {
  z-index: 0;
}

.right-side-bar h6.movie-title {
  margin-top: 10px;
  color: #999;
}

.right-side-bar .suggested-movies, 
#quick-movie-description .similar-movies {
  width: 100%;
}

.right-side-bar .suggested-movies tr,
#quick-movie-description .similar-movies tr {
  vertical-align: top;
  text-align: center;
}

.right-side-bar .featured-trailer {
  border: none;
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.32);
  border-radius: 2px;
  border: 3px solid transparent;
}

.search {
    color: #000000;
}

.header-wrapper {
  height: 0;
  overflow: visible;
  z-index: 10;
  position: relative;
}

.header {
  height: 45px;
  padding: 15px;
  padding-top: 3px;
  z-index: 10;
  /*background: url(../../../movies/assets/images/bg-fade-top.png) left top repeat-x;
  background-size: 1px 100%;*/
  background: #222222 url(../../../movies/assets/images/bg-noise-pattern.png);
  /*background: rgba(28, 28, 28, 0.95);*/
}

.logo-wrapper {
  width: 0;
  height: 0;
  overflow: visible;
  position: relative;
  z-index: 10;
  top: 15px;
}

.logo {
  background: url(../../../movies/assets/images/logo.png) left top repeat-x;
  width: 100px;
  height: 60px;
  background-size: 100%;
  cursor: pointer;
}

.header > * {
  display: inline-block;
}

.header > .title {
  color: #ffffff;
  font-size: 33px;
}

.header .menu-item {
  padding: 5px;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

/*.header .menu-item:not(:last-child) {
  border-right: 2px solid #fff;
}*/

.movie .poster {
  width: 120px;
  height: 175px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.32);
  border-radius: 2px;
  border: 3px solid transparent;
  
  position: relative;
/*   z-index: -10; */
}

#search-wrapper .search-results .movies .poster {
  width: 150px;
  height: 220px;
}

#search-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: rgba(37, 37, 37, 0.9) url(../../../movies/assets/images/bg-noise-pattern.png);
  z-index: 1000;
}

#search-wrapper > .search-components {
  margin-top: 100px;
}

#search-wrapper .search-input-wrapper,
#search-wrapper .search-results {
  margin-left: auto;
  margin-right: auto;
}

#filterSearch {
  padding: 5px;
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  font-style: italic;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  box-shadow: inset 0 2px 11px rgba(0, 0, 0, 1);
  background: rgba(0,0,0,0.1);
}

#filterSearch option {
   background: rgba(0,0,0,0.8);
}

#searchText {
  outline: none;
  width: 100%;
  height: 100px;
  display: block;
  background: rgba(0,0,0,0.5);
  border: none;
  padding: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 32px;
  font-style: italic;
  color: #FFFFFF;
  border-radius: 2px;
  box-shadow: inset 0 2px 11px rgba(0, 0, 0, 1);
}

.search-input-wrapper {
  width: 80%;
  max-width: 800px;
}

.close-button-wrapper {
  width: 0;
  height: 0;
  overflow: visible;
  float: right;
  position: relative;
  top: -15px;
  left: 15px;
}

.close-button {
  background: url('http://o.aolcdn.com/os/moviefone/img/sprite-mf-main.png') no-repeat -118px -457px rgba(0,0,0,0);
  height: 30px;
  width: 30px;
  display: block;
  opacity: 0.8;
  float: right;
  cursor: pointer;
}

#search-wrapper .search-results {
	width: 90%;
	max-width: 1000px;
}

#quick-movie-description {
	position: fixed;
	height: 100%;
	width: 315px;
	background: rgba(0, 0, 0, 0.85) url(../../../movies/assets/images/bg-noise-pattern.png);
	box-shadow: -1px 0 10px rgba(0, 0, 0, 0.69);
	top: 0;
	overflow-y: auto;
	right: 0;
	padding-left: 32px;
	padding-right: 18px;
}

#quick-movie-description h3 {
  color: #ddd;
  margin-top: 40px;
  margin-bottom: 20px;
}

#quick-movie-description h4 {
  color: #bbb;
  margin-top: 30px;
  margin-bottom: 10px;
}

#quick-movie-description p {
  color: #ddd;
  font-style: italic;
  text-indent: 10px;
  font-size: 14px;
  line-height: 18px;
}

#quick-movie-description .movie {
  max-width: 120px;
}

#quick-movie-description .movie h6 {
  margin-top: 10px;
  color: #999;
}

#quick-movie-description .movie .poster.big {
  width: 200px;
  height: 306px;
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.92);
}

#quick-movie-description .close-button-bootstrap {
  position: absolute;
  top: 26px;
  color: #EBC812;
  right: 9px;
  cursor: pointer;
  font-size: 20px;
}

.tooltips span.tooltip {
	position: fixed;
	width: 140px;
/* 	color: rgba(255, 236, 189, 1); */
	color: #eee;
	border: 2px solid rgba(255, 255, 255, 0.14);
	background: #000000;
	height: 33px;
	line-height: 33px;
	text-align: center;
	visibility: hidden;
	border-radius: 12px;
	box-shadow: 0px 1px 6px #000000;
	margin-top: -28px;
	margin-left: 43px;
}
.tooltips span.tooltip:after {
	content: '';
	position: fixed;
	margin-top: -38px;
	margin-left: -75px;
	width: 0;
	height: 0;
	border-right: 10px solid #000000;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.tooltips span.tooltip:before {
	content: '';
	position: fixed;
	margin-top: 4px;
	margin-left: -78px;
	width: 0;
	height: 0;
	border-right: 11px solid rgba(255, 255, 255, 0.06);
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
}
.tooltips:hover span.tooltip {
	visibility: visible;
	opacity: 0.8;
	/* left: 100%; */
	/* top: 50%; */
	z-index: 999;
	font-weight: bold;
	font-size: 12px;
	text-shadow: 0px 1px 1px rgba(109, 109, 109, 0.71);
	letter-spacing: 0.1px;
}
.tooltips:hover span.tooltip:hover {
	background: #111111;
}
.tooltips:hover span.tooltip:hover:after {
	border-right: 10px solid #111111;
}



