<section data-ng-controller="MoviesMainController">
  <div id="register-wrapper" style="display: none">
    <div id="register-form">
      <h3>NEW ACCOUNT</h3>
      <input ng-model="registerusername" type="text" name="username" placeholder="Username" style="margin-bottom: 16px; margin-top: 10px;"/>
      <input ng-model="registerpassword"  type="password" name="password" placeholder="Password" style="width: 180px;margin-bottom: 20px"/>
      <h6><strong>Sync Trakt account (optional):</strong></h6>
      <input type="text" name="traktemail" placeholder="Trakt username" style="width: 200px; margin-bottom: 12px;"/>
      <input type="password" name="traktpass" placeholder="Trakt password" style="width: 180px;"/>
      <p class="register-button" ng-click="addUser(registerusername, registerpassword)">REGISTER</p>
    </div>
  </div>
  <script>
    registerPopupEvents();
  </script>
  <div class="logo-wrapper">
    <a href="#!/movies">
      <div class="logo"></div>
    </a>
  </div>
  <table class="main-wrapper">
    <tr>
      <td class="left-wrapper">
        <div class="side-menu">
          <div class="items">
            <h4 class="menu-item tooltips" onclick="$('#search-wrapper').show()">
              <span class="glyphicon glyphicon-search" style="
                font-size: 21px;"></span>
              <span class="tooltip">
                <p>Search</p>
              </span>
            </h4>
            <h4 id="watched-button" class="menu-item tooltips" onclick="leftPopup(this)" onmouseenter="closePopups()">
            <span class="glyphicon glyphicon-ok" style="
                font-size: 21px;
            "></span>
            <span class="tooltip">
              <p>Watched</p>
            </span>
            <span class="tooltip watched hidden expanded">
              <div class="tooltip-content-wrapper">
                <div class="sidebar-expanded-placeholder" ng-show="!logged">Login First!</div>
                <div class="sidebar-movie-list">
                  <div ng-show="logged" ng-repeat="movie in watched_list" class="movie" ng-click="setMovie(movie)">
                    <div class="poster" style="background-image: url({{movie.poster}});" alt="{{movie.title}}">
                      <div class="movie-options">
                        <div class="rate-movie">
                          <span class="glyphicon glyphicon-star checked"></span>
                          <span class="glyphicon glyphicon-star checked"></span>
                          <span class="glyphicon glyphicon-star checked"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                        </div>
                        <!-- <div class="options-buttons"></div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </span>
            </h4>
            <h4 class="menu-item tooltips" onclick="leftPopup(this)" onmouseenter="closePopups()">
                <span class="glyphicon glyphicon-eye-open" style="
                font-size: 21px;
            "></span>
            <span class="tooltip">
              <p>Suggestions</p>
            </span>
            <span class="tooltip hidden suggestions expanded">
              <div class="tooltip-content-wrapper">
                <div class="sidebar-expanded-placeholder" ng-show="!logged">Login First!</div>
                <div class="sidebar-movie-list">
                  <div ng-show="logged" ng-repeat="movie in recomendation_movies" class="movie" ng-click="setQuickMovie(movie)">
                    <div class="poster" style="background-image: url({{movie.poster}});" alt="{{movie.title}}">
                      <div class="movie-options">
                        <div class="rate-movie">
                          <span class="glyphicon glyphicon-star checked"></span>
                          <span class="glyphicon glyphicon-star checked"></span>
                          <span class="glyphicon glyphicon-star checked"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                        </div>
                        <!-- <div class="options-buttons"></div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </span>
            </h4>
          </div>
        </div>
      </td>
      <td class="middle-wrapper">
        <div class="movies-wrapper">
          <div class="header">
            <p ng-repeat="genre in bestGenreMovies.genre" ng-click="showGenre(genre)">{{genre.name}}</p>
          </div>
          <div class="movie-group" ng-show="!genreFiltered">
            <h3>Best rated</h3>

            <div ng-if="movie.poster" ng-repeat="movie in bestRatedMovies" class="movie" ng-click="setQuickMovie(movie)">
              <!--<h4>{{movie.title}}</h4>-->
              <div class="poster" style="background-image: url({{movie.poster}});" alt="{{movie.title}}"></div>
              <div class="movie-options">
                <div class="rate-movie">
                  <span class="glyphicon glyphicon-star checked"></span>
                  <span class="glyphicon glyphicon-star checked"></span>
                  <span class="glyphicon glyphicon-star checked"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </div>
                <!-- <div class="options-buttons"></div> -->
              </div>
            </div>
          </div>
          <div class="movie-group" ng-show="!genreFiltered">
            <h3>Most rated</h3>
            <div ng-if="movie.poster" ng-repeat="movie in mostRatedMovies" class="movie" ng-click="setQuickMovie(movie)">
              <!--<h4>{{movie.title}}</h4>-->
              <div class="poster" style="background-image: url({{movie.poster}});" alt="{{movie.title}}"></div>
              <div class="movie-options">
                <div class="rate-movie">
                  <span class="glyphicon glyphicon-star checked"></span>
                  <span class="glyphicon glyphicon-star checked"></span>
                  <span class="glyphicon glyphicon-star checked"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </div>
                <!-- <div class="options-buttons"></div> -->
              </div>
            </div>
          </div>
          <div class="movie-group" ng-show="genreFiltered">
            <h3>{{genre}}</h3>

            <div ng-if="movie.poster" ng-repeat="movie in genreMovies" class="movie" ng-click="setQuickMovie(movie)">
              <!--<h4>{{movie.title}}</h4>-->
              <div class="poster" style="background-image: url({{movie.poster}});" alt="{{movie.title}}"></div>
              <div class="movie-options">
                <div class="rate-movie">
                  <span class="glyphicon glyphicon-star checked"></span>
                  <span class="glyphicon glyphicon-star checked"></span>
                  <span class="glyphicon glyphicon-star checked"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </div>
                <!-- <div class="options-buttons"></div> -->
              </div>
            </div>
          </div>
        </div>
      </td>
      <td class="right-wrapper">
        <div class="right-side-bar">
          <div class="right-side-bar-content">
            <div class="header login-form" ng-show="!logged">
              <input ng-model="loginusername" type="text" name="username" placeholder="Username" />
              <input ng-model="loginpassword" type="password" name="password" placeholder="Password" />
              <p id="login-button" ng-click="login(loginusername, loginpassword)">LOGIN</p>
              <p id="new-account-button">REGISTER</p>
            </div>
            <div class="header user-area" ng-show="logged">
              <p class="user">Welcome {{user.user}}</p>
              <p id="logout-button" ng-click="logout()">Logout</p>
              <p id="trakt-button">Trakt</p>
            </div>
            <h5>Our Suggestions</h5>
            <table class="suggested-movies">
              <tr>
                <td>
                  <div class="movie ng-scope" ng-click="setQuickMovie(movie)">
                    <div class="poster" style="background-image: url('http://content6.flixster.com/movie/11/17/25/11172532_det.jpg');" alt="Saving Mr. Banks"></div>
                    <h6 class="movie-title">Saving Mr. Banks</h6>
                  </div>
                </td>
                <td>
                  <div class="movie ng-scope" ng-click="setQuickMovie(movie)">
                    <div class="poster" style="background-image: url('http://content6.flixster.com/movie/11/17/69/11176940_det.jpg');" alt="The Hobbit: The Desolation Of Smaug"></div>
                    <h6 class="movie-title">The Hobbit: The Desolation Of Smaug</h6>
                  </div>
                </td>
              </tr>
            </table>

            <h5>Featured Trailer</h5>
            <iframe class="featured-trailer" width="270" height="140" src="http://v.traileraddict.com/90315" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
            <h6 class="movie-title">The Normal Heart (2014)</h6>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div id="search-wrapper" style="display: none">
    <div class="search-components">
      <div class="search-input-wrapper">
        <div class="close-button-wrapper">
          <div class="close-button" onclick="$('#search-wrapper').hide()"></div>
        </div>
        <select id="filterSearch" ng-model="selectedFilterType" ng-options="filterType as filterType.name for filterType in filterTypes"></select>
        <input id="searchText" type="search" class="search" ng-model="searchText" name="Movie" placeholder="What is it?" />
      </div>
      <div class="search-results">
        <div class="movies">
          <div ng-repeat="movie in movies" class="movie" ng-click="setMovie(movie)">
            <!--<h4>{{movie.title}}</h4>-->
            <div class="poster" style="background-image: url({{movie.poster}});" alt="{{movie.title}}"></div>
          </div>
          <div class="error">
            <p>{{error}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="quick-movie-description" ng-show="showQuickMovie">
    <div class="close-button-wrapper">
      <div class="close-button-bootstrap" ng-click="hideQuickMovie()">
        <span class="glyphicon glyphicon-remove"></span>
      </div>
    </div>
    <h3 ng-click="setMovie(quickMovie)">{{quickMovie.title}}</h3> 
    <div class="movie" ng-click="setMovie(quickMovie)">
      <!--<h4>{{movie.title}}</h4>-->
      <div class="poster big" style="background-image: url({{quickMovie.poster}});" alt="{{quickMovie.title}}" ng-click="setMovie(quickMovie)"></div>
    </div>
    
    
    <table style="width: 100%">
      <tr>
        <td>
          <div class="score">
            <div ng-if="quickMovie.ratings.critics_score > 50">
              <img src="public/movies/assets/images/fresh-tomatoe.png" width="25px"></img>
              {{quickMovie.ratings.critics_score}}/100
            </div>
            <div ng-if="quickMovie.ratings.critics_score < 50">
              <img src="public/movies/assets/images/rotten-tomatoe.png" width="25px"></img>
              {{quickMovie.ratings.critics_score}}/100
            </div>
          </div>
        </td>
        <td>
          <div class="external" style="position:relative; bottom: 20px;"><br><br>
            <a href="http://www.imdb.com/title/tt{{quickMovie.imdb}}">
            <img src="public/movies/assets/images/imdb-logo.png" width="25px"></img>
          </a>
            <a href="{{quickMovie.links.alternate}}">
              <img src="public/movies/assets/images/rotten-logo.png" width="50px"></img>
            </a>
          </div>
        </td>
      </tr>
    </table>
    
    <h4 ng-show="quick_similar_movies">Synopsis</h4>
    <p>
      {{quickMovie.synopsis}}
    </p>

    <h4 ng-show="quick_similar_movies">Similar movies</h4>

    <table class="similar-movies">
      <tr>
        <td ng-repeat="similar_movie in quick_similar_movies" class="movie" ng-click="setMovie(similar_movie)">
          <!--<h4>{{movie.title}}</h4>-->
          <div class="poster" style="background-image: url({{similar_movie.poster}});" alt="{{similar_movie.title}}"></div>
          <h6 class="movie-title">{{similar_movie.title}}</h6>
        </td>
      </tr>
    </table>
  </div>
    </div>
</section>