<section data-ng-controller="MoviesMainController">
  <div class="center-block">
        <input id="searchText" type="search" class="search" ng-model="searchText" name="Movie" placeholder="Search movie"/>
        <hr>
        <div class="movies center-block">
            <div ng-repeat="movie in movies" class="movie"  ng-click="setMovie(movie)">
                <h4>{{movie.title}}</h4>
                <img ng-src="{{movie.poster}}" width="215" height="320" alt="{{movie.title}}">
            </div>
        </div>    
        
    </div>
</section>