<section data-ng-controller="MoviesMainController">
  <div id="register-wrapper" style="display: none">
    <div id="register-form">
      <h3>NEW ACCOUNT</h3>
      <input type="text" name="username" placeholder="Username" style="margin-bottom: 16px; margin-top: 10px;"/>
      <input type="text" name="email" placeholder="Email address" style="width: 200px;"/>
      <input type="text" name="emailconf" placeholder="Email address confirmation" style="width: 200px; margin-bottom: 12px;"/>
      <input type="password" name="password" placeholder="Password" style="width: 180px;margin-bottom: 20px"/>
      <h6><strong>Sync Trakt account (optional):</strong></h6>
      <input type="text" name="traktemail" placeholder="Trakt username" style="width: 200px; margin-bottom: 12px;"/>
      <input type="password" name="traktpass" placeholder="Trakt password" style="width: 180px;"/>
      <p class="register-button">REGISTER</p>
    </div>
  </div>
  <script>
    registerPopupEvents();
  </script>
  <div class="logo-wrapper">
    <a href="#!/movies">
      <div class="logo"></div>
    </a>
  </div>
  <table class="main-wrapper">
    <tr>
      <td class="left-wrapper">
        <div class="side-menu">
          <div class="items">
            <h4 class="menu-item tooltips" onclick="$('#search-wrapper').show()" onmouseenter="closePopups()">
              <span class="glyphicon glyphicon-search" style="
                font-size: 21px;"></span>
              <span class="tooltip">
                <p>Search</p>
              </span>
            </h4>
            <h4 id="watched-button" class="menu-item tooltips" onclick="leftPopup(this)" onmouseenter="closePopups()">
            <span class="glyphicon glyphicon-ok" style="
                font-size: 21px;
            "></span>
            <span class="tooltip">
              <p>Watched</p>
            </span>
            <span class="tooltip watched hidden expanded">
              <div class="tooltip-content-wrapper" onmouseout="closePopup(this)"></div>
            </span>
            </h4>
            <h4 class="menu-item tooltips" onclick="leftPopup(this)" onmouseenter="closePopups()">
                <span class="glyphicon glyphicon-eye-open" style="
                font-size: 21px;
            "></span>
            <span class="tooltip">
              <p>Suggestions</p>
            </span>
            <span class="tooltip hidden suggestions expanded">
              <div class="tooltip-content-wrapper" onmouseout="closePopup(this)"></div>
            </span>
            </h4>
          </div>
        </div>
      </td>
      <td class="middle-wrapper">
        <div class="movies-wrapper">
          <div class="header">
            <p>Action</p>
            <p>Animation</p>
            <p>Comedy</p>
            <p>Crime</p>
            <p>Documentary</p>
            <p>Drama</p>
            <p>History</p>
            <p>Horror</p>
            <p>Romance</p>
            <p>Sports</p>
            <p>Terror</p>
            <p>Thriller</p>
            <p>War</p>
            <p>Western</p>
            <p>Si-Fi</p>
          </div>
          <div class="movie-group">
            <h3>Best rated</h3>

            <div ng-repeat="movie in bestRatedMovies" class="movie" ng-click="setQuickMovie(movie)">
              <!--<h4>{{movie.title}}</h4>-->
              <div class="poster" style="background-image: url({{movie.poster}});" alt="{{movie.title}}"></div>
              <div class="movie-options">
                <div class="rate-movie">
                  <span class="glyphicon glyphicon-star checked"></span>
                  <span class="glyphicon glyphicon-star checked"></span>
                  <span class="glyphicon glyphicon-star checked"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </div>
                <!-- <div class="options-buttons"></div> -->
              </div>
            </div>
          </div>
          <div class="movie-group">
            <h3>Most viewed</h3>
            <div ng-repeat="movie in mostRatedMovies" class="movie" ng-click="setQuickMovie(movie)">
              <!--<h4>{{movie.title}}</h4>-->
              <div class="poster" style="background-image: url({{movie.poster}});" alt="{{movie.title}}"></div>
            </div>
          </div>
          <div class="movie-group">
            <h3>Most rated</h3>
            <div ng-repeat="movie in mostRatedMovies" class="movie" ng-click="setQuickMovie(movie)">
              <!--<h4>{{movie.title}}</h4>-->
              <div class="poster" style="background-image: url({{movie.poster}});" alt="{{movie.title}}"></div>
            </div>
          </div>
        </div>
      </td>
      <td class="right-wrapper">
        <div class="right-side-bar">
          <div class="right-side-bar-content">
            <div class="header">
              <input type="text" name="username" placeholder="Username" />
              <input type="password" name="password" placeholder="Password" />
              <p id="login-button">LOGIN</p>
              <p id="new-account-button">REGISTER</p>
            </div>
            <h5>Our Suggestions</h5>
            <table class="suggested-movies">
              <tr>
                <td>
                  <div class="movie ng-scope" ng-click="setQuickMovie(movie)">
                    <div class="poster" style="background-image: url('http://content6.flixster.com/movie/11/17/25/11172532_det.jpg');" alt="Saving Mr. Banks"></div>
                    <h6 class="movie-title">Saving Mr. Banks</h6>
                  </div>
                </td>
                <td>
                  <div class="movie ng-scope" ng-click="setQuickMovie(movie)">
                    <div class="poster" style="background-image: url('http://content6.flixster.com/movie/11/17/69/11176940_det.jpg');" alt="The Hobbit: The Desolation Of Smaug"></div>
                    <h6 class="movie-title">The Hobbit: The Desolation Of Smaug</h6>
                  </div>
                </td>
              </tr>
            </table>

            <h5>Featured Trailer</h5>
            <iframe class="featured-trailer" width="270" height="140" src="http://v.traileraddict.com/90315" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
            <h6 class="movie-title">The Normal Heart (2014)</h6>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div id="search-wrapper" style="display: none">
    <div class="search-components">
      <div class="search-input-wrapper">
        <div class="close-button-wrapper">
          <div class="close-button" onclick="$('#search-wrapper').hide()"></div>
        </div>
        <input id="searchText" type="search" class="search" ng-model="searchText" name="Movie" placeholder="What is it?" />
      </div>
      <div class="search-results">
        <div class="movies" infinite-scroll="getMoreMovies()" infinite-scroll-distance="3">
          <div ng-repeat="movie in movies" class="movie" ng-click="setMovie(movie)">
            <!--<h4>{{movie.title}}</h4>-->
            <div class="poster" style="background-image: url({{movie.poster}});" alt="{{movie.title}}"></div>
          </div>
          <div class="error">
            <p>{{error}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="quick-movie-description" ng-show="showQuickMovie">
    <div class="close-button-wrapper">
      <div class="close-button-bootstrap" ng-click="hideQuickMovie()">
        <span class="glyphicon glyphicon-remove"></span>
      </div>
    </div>
    <h3 ng-click="setMovie(quickMovie)">{{quickMovie.title}}</h3> 
    <div class="movie" ng-click="setMovie(quickMovie)">
      <!--<h4>{{movie.title}}</h4>-->
      <div class="poster big" style="background-image: url({{quickMovie.poster}});" alt="{{quickMovie.title}}" ng-click="setMovie(quickMovie)"></div>
    </div>
    <p>
      {{quickMovie.synopsis}}
    </p>
    <h4 ng-show="quick_similar_movies">Similar movies</h4>
    <table class="similar-movies">
      <tr>
        <td ng-repeat="similar_movie in quick_similar_movies" class="movie" ng-click="setMovie(similar_movie)">
          <!--<h4>{{movie.title}}</h4>-->
          <div class="poster" style="background-image: url({{similar_movie.poster}});" alt="{{similar_movie.title}}"></div>
          <h6 class="movie-title">{{similar_movie.title}}</h6>
        </td>
      </tr>
    </table>
  </div>
</section>