<section data-ng-controller="MovieController">
    <div class="logo-wrapper">          
    <a href="#!/movies"><div class="logo"></div></a>
  </div>
  <table class="main-wrapper">
    <tr>
      <td class="left-wrapper">
        <div class="side-menu">
          <div class="items">
            <h4 class="menu-item" onclick="$('#search-wrapper').show()">
                <span class="glyphicon glyphicon-search" style="
                font-size: 21px;
            "></span>
            </h4>
            <h4 class="menu-item">
                <span class="glyphicon glyphicon-ok" style="
                font-size: 21px;
            "></span>
            </h4>
            <h4 class="menu-item">
                <span class="glyphicon glyphicon-eye-open" style="
                font-size: 21px;
            "></span>
            </h4>
          </div>
        </div>
      </td>
      <td class="middle-wrapper">
        <div class="movies-wrapper" style="text-align:left" ng-hide="error">
          <div class="row" style="height: 100%; overflow: auto;">
            <div class="col-md-9" style="padding-left: 60px; padding-top: 30px; height: 100%; overflow: auto;">
             
              <h2 style="margin-bottom: 20px; color: #ccc; display:inline">{{movie.title}} <h4 style="color: #ccc; display:inline">{{movie.year}}</h4></h2>

              <div class="row">
                <div class="col-md-4">
                  <div class="poster" style="background-image: url({{movie.poster}}); 
                  width: 180px; 
                  height: 268px; 
                  background-size: 100%;
                  background-repeat: no-repeat;
                  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.32);
                  border-radius: 2px;
                  border: 3px solid transparent;
                  " alt="{{movie.title}}"></div>
                </div>
                <div class="col-md-7">
                  <p style="padding: 5px;color: #ddd;text-indent: 10px; text-align: justify;min-height: 260px;">{{movie.synopsis}}</p>
                </div>
                
            <div ng-show="genres" style="text-decoration: underline;">
              
              <div ng-repeat="genre in genres" class="movie" style="display: block;">
              	
                <p class="genre" style="margin-top: 2px;">{{genre}} </p>
              </div>
              
              <div ng-if="genres[0].length == 1" class="movie" style="max-width: 120px; display: block; text-align: center; margin: auto; margin-top: 2px;">{{genres}}</div>
              
              
           <div class="aditional-info" style="float:right;margin-right: 30px;">
              
	              <div class="score">
		              <h4 style="color:rgba(255,255,255,0.6);font-weight: bold;">Rating</h4>
		              <div ng-if="movie.ratings.critics_score > 50">
		              	<img src="public/movies/assets/images/fresh-tomatoe.png" width="25px"></img>
		              	{{movie.ratings.critics_score}}/100
		              </div>
		              <div ng-if="movie.ratings.critics_score < 50 && movie.ratings.critics_score > -1">
		              	<img src="public/movies/assets/images/rotten-tomatoe.png" width="25px"></img>
		              	{{movie.ratings.critics_score}}/100
		              </div>
		              
		              <div ng-if="movie.ratings.critics_score == -1">
		              	No rating available!
		              </div>
	              </div>
	              
	              <div class="external"><br><br>
	              	<h4 style="color:rgba(255,255,255,0.6);font-weight: bold;">External</h4>
	              	<a href="http://www.imdb.com/title/tt{{movie.imdb}}">
		              <img src="public/movies/assets/images/imdb-logo.png" width="40px"></img>
		            </a>
		              <a href="{{movie.links.alternate}}">
			              <img src="public/movies/assets/images/rotten-logo.png" width="75px"></img>
		              </a>
	              </div>
              
              </div>
   
              
              
              
            </div>
            
            <div class="col-md-4" ng-show="cast">
              <h4 style="color: rgba(255,255,255,0.6); margin-bottom: 10px; margin-top:10px; font-weight: bold; text-align:left;">Cast</h4>
              <div ng-repeat="actor in cast" class="movie" style="display: block;margin:auto;">
                  <div ng-repeat="character in actor.characters" class="cast" style="margin-top: 2px;text-align:left;">
	                  <p ng-if="character[0].length == 1">{{actor.name}} - {{character}}</p>
	                  <p ng-if="character[0].length > 1">{{actor.name}} - {{character[0]}}, {{character[1]}}</p>
                  </div>
              </div>
            </div>
                        
             <div class="col-md-4" ng-show="directors" style="clear: both;">
              <h4 style="color: rgba(255,255,255,0.6); margin-bottom: 10px; margin-top:10px; font-weight: bold; text-align:left;">Directors</h4>
              <div ng-repeat="director in directors" class="movie" style="display: block;margin:auto;margin-top: 2px;text-align:left;">
                  <p ng-if="director.name" class="directors" style="margin-top: 2px;">{{director.name}}</p>
                  
                  <p ng-if="!director.name" class="directors" style="margin-top: 2px;">{{director}}</p>
                  
              </div>
                            
            </div>
            

                
              </div>
            </div>
            <div class="col-md-3" ng-show="similar_movies" style="height: 100%; overflow: auto;">
              <h5 style="text-align: center; color: rgba(255,255,255,0.6); margin-bottom: 20px; font-size: 13px;
text-transform: uppercase;
font-weight: bold;
margin-top: 45px;">Similar movies</h5>
              <div ng-repeat="similar_movie in similar_movies" class="movie"  ng-click="setMovie(similar_movie)" style="max-width: 120px;
                        display: block;
                        text-align: center;
                        margin: auto;">
                <div class="movie" ng-click="setMovie(movie)">
                  <div class="poster" style="background-image: url({{similar_movie.poster}});" alt="{{similar_movie.title}}"></div>
                  <h6 class="movie-title" style="color: rgba(255,255,255,0.5); margin-top: 10px;">{{similar_movie.title}}</h6>
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
      </td>
      <td class="right-wrapper">
        <div class="right-side-bar">
          <div class="right-side-bar-content">
            <h5>Our Suggestions</h5>
            <table class="suggested-movies">
              <tr>
                <td>
                  <div class="movie ng-scope" ng-click="setMovie(movie)">
                    <div class="poster" style="background-image: url('http://content6.flixster.com/movie/11/17/25/11172532_det.jpg');" alt="Saving Mr. Banks"></div>
                    <h6 class="movie-title">Saving Mr. Banks</h6>
                  </div>
                </td>
                <td>
                  <div class="movie ng-scope" ng-click="setMovie(movie)">
                    <div class="poster" style="background-image: url('http://content6.flixster.com/movie/11/17/69/11176940_det.jpg');" alt="The Hobbit: The Desolation Of Smaug"></div>
                    <h6 class="movie-title">The Hobbit: The Desolation Of Smaug</h6>
                  </div>
                </td>
              </tr>
            </table>

            <h5>Featured Trailer</h5>
            <iframe class="featured-trailer" width="270" height="140" src="http://v.traileraddict.com/90315" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
            <h6 class="movie-title">The Normal Heart (2014)</h6>
          </div>
        </div>
      </td>
    </tr>
  </table>


</section>